<h1>$category.getName() tasks:</h1>

<ul>
  #foreach($task in $category.getTasks())
   <li>$task.getDescription()</li>
  #end
</ul>

<a href="/categories/$category.getID()/tasks/new">Add a new task</a>
<a href="/categories">All categories</a>
